h2, h3, h4, h5, h6 {
    border-top: 2px solid rgb(47, 125, 189);
}

.bspborderrad, .bspborderrad1 {
    display: inline-block;
    width: 45%;
}

.bspborderrad1 {
    float: right;
    background-color: greenyellow;
    border-radius: 10%;
}